import dataclasses
{%- if enums %}
import enum
{%- endif %}
{%- for import in imports %}
import {{import}}
{%- endfor %}
from {{request.config.codegen.options.package}} import models

{%- for enum in enums %}

class {{enum.name | to_pascal_case }}(enum.StrEnum):
    {%- for value in enum.values %}
    {{ value | to_screaming_snake_case }} = {{ value | to_c_string }}
    {%- endfor %}
{% endfor %}

{%- for model in models %}


@dataclasses.dataclass
class {{model.type.declaration}}:
    {%- for field, type in model.fields %}
    {{field}}: {% if type.annotation | starts_with("models." + schema) -%}
    {{ type.annotation | strip_prefix("models." + schema + ".") }}
    {%- elif type.annotation | starts_with("models.") -%}
    {{ type.annotation | to_c_string }}
    {%- else -%}
    {{ type.annotation }}
    {%- endif %}
    {%- endfor %}
{%- endfor %}
